<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Outbound Messages</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-4" style="padding-left:0px; min-height: 40px">
                    </div>
                    <div class="col-lg-3 col-lg-offset-5">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm  form-control-flat" placeholder="Search record here...">
                            <span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-flat" type="button">Go!</button>
                          </span>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="1">#</th>
                            <th>MSISDN</th>
                            <th class="text-center">Inbound</th>
                            <th class="text-center">Shortcode</th>
                            <th width="30%">Content</th>
                            <th class="text-center">Service</th>
                            <th>Created at</th>
                            <th>Processed</th>
                            <th>Failed</th>
                            <th>Cost</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if (isset($paginator)) :?>
                    <?php foreach ($paginator->items as $index => $item) :?>
                        <tr class="<?php echo $index%2==0 ? 'even' : 'odd' ?>">
                            <td>
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td><?php echo $item->msisdn?></td>
                            <td class="text-center">
                                <a href="<?php echo $this->url->get('inbound/read?id='.$item->fk_inbounds_id)?>">
                                    <?php echo $item->fk_inbounds_id?>
                                </a>
                            </td>
                            <td class="text-center"><?php echo $item->shortcode?></td>
                            <td class="rtl"><?php echo $item->content?></td>
                            <td class="text-center"><?php echo !empty($item->fk_services_id) ?
                                    '<span class="label label-primary">'.$item->getService()->name.'</span>' :
                                    '<span class="label label-default">None</span>'?></td>
                            <td><?php echo $this->tag->gtoj($item->created_at, 'Y/m/d H:i') ?></td>
                            <td class="text-center">
                                <?php echo $item->processed  ?
                                    '<span class="label label-success"><i class="fa fa-check"></i></span>' :
                                    '<span class="label label-danger"><i class="fa fa-close"></i></span>'?>
                            </td>
                            <td class="text-center">
                                <?php echo $item->failed ?
                                    '<span class="label label-warning">Failed'.$item->failed.'</span>' :
                                    ''?>
                            </td>
                            <td>
                                <?php echo $item->is_free ?
                                    '<span class="label label-danger">Free</span>' :
                                    '<span class="label label-success">Paid</span>'?>
                            </td>
                            <td class="text-center">
                               <div class="btn-group">
                                  <button class="btn btn-default btn-sm" type="button">Actions</button>
                                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul role="menu" class="dropdown-menu">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>

                <?php $this->partial('datatable/footer', ['tableId' => 'inboundTable', 'paginator' => $paginator]) ?>

            </div>
        </div>
    </div>

</div>