<div class="row">
    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Forgot your password?</header>
            <div class="panel-body">
                <form class="bs-example form-horizontal" method="post">
                    <?php echo $form->renderDecorated('email', 'horizontal'); ?>
                    <?php echo $form->renderDecorated('captcha', 'horizontal'); ?>

                    <?php echo $form->renderDecorated('csrf'); ?>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-sm btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="col-sm-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold"></header>
            <div class="panel-body">
                <div class="text-center" style="padding: 20px">
                </div>
            </div>
        </section>
    </div>
</div>
