<section class="section-wrapper contact-page-w">
    <div class="container">
        <h3 class="section-header">ثبت نام</h3>
        <div class="row">
            <div class="span4">
            </div>
            <div class="span8">
                <?php $this->flashSession->output() ?>
                <div class="white-card extra-padding">
                    <form class="form-transparent no-margin-bottom form-horizontal" id="form-signup" method="post">
                        <fieldset>
                            <div class="row-fluid">
                                <div class="span12">
                                    <legend>کلمه عبور جدید خود را وارد کنید</legend>
                                    <?php echo $form->renderDecorated('passwd', 'horizontal'); ?>
                                    <?php echo $form->renderDecorated('confirmPassword', 'horizontal'); ?>

                                    <?php echo $form->renderDecorated('csrf'); ?>

                                    <div class="control-group ">
                                        <div class="controls ">
                                            <input class="btn" value="ثبت نام" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>