<div class="row">
    <div class="col-sm-8">
        <form class="bs-example form-horizontal" method="post" novalidate="novalidate">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">ورود</header>
                <div class="panel-body">
                        <?php echo $form->render('csrf'); ?>

                        <div class="form-group">
                            <label for="email" class="col-lg-2 control-label">ایمیل</label>
                            <div class="col-lg-10">
                                <?php echo $form->render('email'); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label">کلمه عبور</label>
                            <div class="col-lg-10">
                                <?php echo $form->render('password'); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="captcha" class="col-lg-2 control-label">کد امنیتی</label>
                            <div class="col-lg-4">
                                <?php echo $form->render('captcha'); ?>
                            </div>
                        </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" class="btn btn-success btn-s-xs">ورود</button>
                </footer>
            </section>
        </form>
    </div>

    <div class="col-sm-4">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Already a member?</header>
            <div class="panel-body">
                <div class="text-center" style="padding: 20px">
                    Forgot your password password?
                    <br/><br/>
                    {{ link_to(['for': 'forgotPassword'], 'Recover your password', 'class':'btn btn-lg btn-success btn-block') }}
                    <br/>

                    Did not receive your account activation email?
                    <br/>
                    First of all check you spam / junk folder of your email. If you still can not find an email from us so use resend activation.<br/>
                    <strong>Note:</strong> <i>You can try resend activation feature only twice a day.</i>
                    <br/><br/>
                    {{ link_to(['for' : 'resendActivation'], 'Resend  activation mail', 'class':'btn btn-lg btn-success btn-block') }}
                </div>
            </div>
        </section>
    </div>
</div>