<div class="row">
    <div class="col-sm-8">
        <form class="bs-example form-horizontal" method="post" novalidate="novalidate">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">فرم ثبت نام</header>
                <div class="panel-body">
                        <?php echo $form->render('csrf'); ?>

                        <div class="form-group">
                            <label for="name" class="col-lg-2 control-label">
                                <?php echo $i18n->_('name')?>
                            </label>
                            <div class="col-lg-10">
                                <?php echo $form->render('name'); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-lg-2 control-label">ایمیل</label>
                            <div class="col-lg-10">
                                <?php echo $form->render('email'); ?>
                            </div>
                        </div>

                        <div class="form-group pull-in clearfix">
                            <div class="col-sm-6">
                                <label>کلمه عبور</label>
                                <?php echo $form->render('password'); ?>
                            </div>
                            <div class="col-sm-6">
                                <label>تکرار کلمه عبور</label>
                                <?php echo $form->render('confirmPassword'); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="captcha" class="col-lg-2 control-label">کد امنیتی</label>
                            <div class="col-lg-3">
                                <?php echo $form->render('captcha'); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="checkbox">
                                    <label>
                                        <?php echo $form->render('terms', 0); ?> من شرایط استفاده از این نرم افزار را قبول دارم
                                        <?php echo $form->renderErrorFor('terms'); ?>
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" class="btn btn-success btn-s-xs">Sign up</button>
                </footer>
            </section>
        </form>
    </div>

    <div class="col-sm-4">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Already a member?</header>
            <div class="panel-body">
                <div class="text-center" style="padding: 20px">
                    Already have an account?
                    <br/>
                    <br/>
                    {{ link_to('site/user/signin', 'Sign in', 'class':'btn btn-lg btn-success') }}
                </div>
            </div>
        </section>
    </div>
</div>