<aside class="left-panel">

    <div class="user text-center">
        <?php echo $this->tag->image(["brio/images/avtar/user.png", 'class' => 'img-circle' ]);?>
        <h4 class="user-name">Aboozar Ghaffari</h4>

        <button class="btn user-login btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown">
            <i class="fa fa-circle status-icon"></i> Available <i class="fa fa-angle-down"></i>
        </button>
    </div>

    <nav class="navigation">
        <ul class="list-unstyled">
            <li>
                <a href="<?php echo $this->url->get('dashboard')?>">
                    <i class="fa fa-tachometer"></i><span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/service')?>">
                    <i class="fa fa-newspaper-o"></i> <span class="nav-label">Services</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/subscriber')?>">
                    <i class="fa fa-users"></i> <span class="nav-label">Subscriber</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/inbound')?>">
                    <i class="glyphicon glyphicon-log-in"></i> <span class="nav-label">Inbounds</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/outbound')?>">
                    <i class="glyphicon glyphicon-log-out"></i> <span class="nav-label">Outbounds</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/setting')?>">
                    <i class="fa fa-cogs"></i> <span class="nav-label">Settings</span>
                </a>
            </li>
            <li class="has-submenu">
                <a href="<?php echo $this->url->get('panel/helpcenter')?>">
                    <i class="fa fa-code"></i> <span class="nav-label">Help Center</span>
                </a>
            </li>
        </ul>
    </nav>

</aside>