<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Services</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm  form-control-flat" placeholder="Search record here...">
                            <span class="input-group-btn">
                            <button class="btn btn-default btn-sm btn-flat" type="button">Go!</button>
                          </span>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-offset-5 text-right" style="min-height: 40px">
                        <a href="<?php echo $this->url->get('panel/service/create')?>" class="btn btn-purple btn-sm btn-flat">
                            New Service
                        </a>
                    </div>

                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="1">#</th>
                            <th>Name</th>
                            <th>MCI SID</th>
                            <th class="text-center">Dedicated</th>
                            <th class="text-center">Cost</th>
                            <th class="text-center">Free</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th class="text-center">Subscribers</th>
                            <th>Slogan</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if (isset($paginator)) :?>
                    <?php foreach ($paginator->items as $index => $item) :?>
                        <tr class="<?php echo $index%2==0 ? 'even' : 'odd' ?>">
                            <td>
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td><?php echo $item->name?></td>
                            <td>
                                <span class="label label-primary"><?php echo $item->mci_service_id?></span>
                            </td>
                            <td class="text-center">
                                <?php if ($item->dedicated) {echo '<span class="label label-danger">'.$item->dedicated.'</span>';}?>
                            </td>
                            <td class="text-center">
                                <?php if ($item->cost_shortcode) {echo '<span class="label label-warning">'.$item->cost_shortcode.'</span>';}?>
                            </td>
                            <td class="text-center">
                                <?php if ($item->free_shortcode) {echo '<span class="label label-success">'.$item->free_shortcode.'</span>';}?>
                            </td>

                            <td><?php echo $item->cat?></td>
                            <td class="text-center"><?php echo $item->status ?
                                    '<span class="label label-success"><i class="fa fa-circle"></i></span>' :
                                    '<span class="label label-danger"><i class="fa fa-circle-o"></i></span>'
                                ?>
                            </td>
                            <td class="text-center">
                                <span class="label label-warning"><?php echo $item->subscribers->count()?></span></td>
                            <td><?php echo $item->slogan?></td>
                            <td class="text-center">

                                   <div class="btn-group">
                                      <button class="btn btn-default btn-sm" type="button">Actions</button>
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <ul role="menu" class="dropdown-menu">
                                        <li><a href="<?php echo $this->url->get('panel/service/read?id='.$item->id)?>">View</a></li>
                                        <li><a href="<?php echo $this->url->get('panel/service/update?id='.$item->id)?>">Edit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="<?php echo $this->url->get('panel/service/delete?id='.$item->id)?>">Delete</a></li>
                                      </ul>
                                    </div>

                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>

                <?php $this->partial('datatable/footer', ['tableId' => 'inboundTable', 'paginator' => $paginator]) ?>

            </div>
        </div>
    </div>

</div>