<div class="row">

    <div class="col-sm-3">
        <a href="<?php echo $this->url->get('panel/service/update?id='.$service->id)?>" class="btn btn-danger btn-block">
            Edit
        </a>
        <hr class="clean">
        <div class="panel panel-default">
            <div class="panel-heading clean">Service ID : <?php echo $service->id?></div>
            <div class="panel-body no-padd">
                <div class="list-group no-margn mail-nav">
                  <a href="#" class="list-group-item">
                      <?php if ($service->status):?>
                      <span class="badge bg-green text-white">Active</span>
                      <?php else:?>
                      <span class="badge bg-danger text-white">Deactive</span>
                      <?php endif?>
                      Status
                  </a>
                  <a href="#" class="list-group-item">
                      <span class="badge bg-yellow text-white"><?php echo $service->mci_service_id?></span>MCI Service ID
                  </a>
                  <a href="#" class="list-group-item">
                      <span class="badge text-white"><?php echo $service->cat?></span>
                      Category
                  </a>
                  <?php if ($service->dedicated) :?>
                    <a href="#" class="list-group-item">
                      <span class="badge bg-info text-white"><?php echo $service->dedicated?></span>
                      Dedicated Shortcode
                    </a>
                  <?php endif;?>
                    <?php if ($service->free_shortcode) :?>
                    <a href="#" class="list-group-item">
                      <span class="badge bg-purple text-white"><?php echo $service->free_shortcode?></span>
                      Free Shortcode
                    </a>
                    <?php endif;?>
                    <?php if ($service->cost_shortcode) :?>
                    <a href="#" class="list-group-item">
                      <span class="badge bg-pink text-white"><?php echo $service->cost_shortcode?></span>
                      Cost Shortcode
                    </a>
                    <?php endif;?>
                  <a href="#" class="list-group-item">
                      <?php echo $service->token?>
                  </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clean">Keywords</div>
            <div class="panel-body no-padd">
                <div class="col-lg-12">
                    <p>
                    <?php foreach ($service->keywords as $keyword) :?>
                        <a href="<?php echo $this->url->get('panel/keyword?id='.$keyword->id)?>">
                        <span class="badge text-white"><?php echo $keyword->txt?></span>
                        </a>
                    <?php endforeach?>
                    </p>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading clean">Statistics</div>
            <div class="panel-body no-padd">
                <div class="col-lg-12">
                    <p>
                    Total inbound messages  = <span class="badge bg-pink text-white"><?php echo number_format($service->inbounds->count())?></span><br/>
                    Total outbound messages = <span class="badge bg-purple text-white"><?php echo number_format($service->outbounds->count())?></span><br/>
                    Total bulk messages     = <span class="badge bg-orange text-white">300,000</span><br/>
                    Total Subscribers = <span class="badge bg-green text-white"><?php echo number_format($service->getSubscribers("flag=1")->count())?></span><br/>
                    Total Cancellation = <span class="badge bg-danger text-white"><?php echo number_format($service->getSubscribers("flag=0")->count())?></span><br/>
                    </p>
                <div class="progress progress-xs progress-striped active">
                  <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                    <span class="sr-only">60% Complete (success)</span>
                  </div>
                </div>
                </div>
            </div>

        </div>


    </div>

    <div class="col-sm-9">
        <div class="page-header"><h3>Service URLs <small>local / 3rd party url</small></h3></div>
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover mails">
                    <tr class="active">
                        <td>
                        Ondemand URL:
                        </td>
                        <td class="small">
                            <?php echo $service->od_url?>
                        </td>
                    </tr>
                       <tr class="active">
                        <td>
                        Autocharge URL:
                        </td>
                        <td class="small">
                            <?php echo $service->ac_url?>
                        </td>
                    </tr>

                </table>

            </div>
        </div>

        <div class="page-header"><h3>Inbounds <small>Latest 5 inbounds</small></h3></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover mails">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">MSISDN</th>
                            <th class="text-center">Shortcode</th>
                            <th>Raw Content</th>
                            <th>Content</th>
                            <th class="text-center">Processed</th>
                            <th class="text-center">Failed</th>
                            <th>Flags</th>
                        </tr>
                    </thead>
                    <?php foreach ($service->getInbounds(['order' => 'id DESC', 'limit' => 5]) as $m) :?>
                    <tr class="active">
                        <td class="text-center" style="width: 5%">
                            <?php echo $m->id?>
                        </td>
                        <td class="text-center" style="width: 10%">
                            <?php echo $m->msisdn?>
                        </td>
                        <td class="text-center" style="width: 10%">
                        <?php echo $m->shortcode?>
                        </td>
                        <td class="sender visible-lg visible-md">
                        <?php echo $m->raw_content?>
                        </td>
                        <td class="sender visible-lg visible-md">
                        <?php echo $m->content?>
                        </td>
                        <td class="text-center">
                            <?php echo $m->processed  ?
                                '<span class="label label-success"><i class="fa fa-check"></i></span>' :
                                '<span class="label label-danger"><i class="fa fa-close"></i></span>'?>
                        </td>
                        <td class="text-center">
                            <?php echo $m->failed ?
                                '<span class="label label-warning">Failed'.$in->failed.'</span>' :
                                ''?>
                        </td>
                        <td>
                            <?php echo $m->autocharge ? '<span class="label label-info">AC</span>' : ''?>
                            <?php echo $m->invalid ? '<span class="label label-danger">Error '.$m->invalid.'</span>' : ''?>
                        </td>
                    </tr>
                    <?php endforeach?>
                </table>

            </div>
        </div>


        <div class="page-header"><h3>Outbounds <small>Latest 5 outbounds</small></h3></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover mails">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 5%">ID</th>
                            <th class="text-center">MSISDN</th>
                            <th class="text-center" style="width: 5%">In/ID</th>
                            <th class="text-center">Shortcode</th>
                            <th>Content</th>
                            <th>RefId</th>
                            <th class="text-center">Processed</th>
                            <th class="text-center">Failed</th>
                            <th>Flags</th>
                        </tr>
                    </thead>
                    <?php foreach ($service->getOutbounds(['order' => 'id DESC', 'limit' => 5]) as $m) :?>
                    <tr class="active">
                        <td class="text-center" style="width: 5%">
                            <?php echo $m->id?>
                        </td>
                        <td class="text-center" style="width: 10%">
                            <?php echo $m->msisdn?>
                        </td>
                        <td class="text-center" style="width: 5%">
                            <?php echo $m->fk_inbounds_id?>
                        </td>
                        <td class="text-center" style="width: 10%">
                        <?php echo $m->shortcode?>
                        </td>
                        <td class="sender visible-lg visible-md">
                        <?php echo $m->content?>
                        </td>
                        <td class="sender visible-lg visible-md">
                        <?php echo $m->success_token?>
                        </td>
                        <td class="text-center">
                            <?php echo $m->processed  ?
                                '<span class="label label-success"><i class="fa fa-check"></i></span>' :
                                '<span class="label label-danger"><i class="fa fa-close"></i></span>'?>
                        </td>
                        <td class="text-center">
                           <?php echo $m->failed ?
                               '<span class="label label-danger">Failed '.$m->failed.'</span>' :
                               ''?>
                        </td>
                        <td>
                            <?php echo $m->is_free == 1 ?
                                '<span class="label label-danger">Free</span>' :
                                '<span class="label label-success">Paid</span>'?>
                        </td>
                    </tr>
                    <?php endforeach?>
                </table>

            </div>
        </div>

    </div>

</div>