<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Service Form</div>
            <div class="panel-body">

                <form class="form-horizontal" role="form" method="post">


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-3">
                            <?php echo $form->render('cat')?>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-3">
                            <?php echo $form->render('name')?>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">MCI service ID</label>
                        <div class="col-sm-2">
                            <?php echo $form->render('mci_service_id')?>
                        </div>
                    </div>

                    <hr class="dotted">

                      <div class="form-group">
                        <label class="col-sm-2 control-label">Keywords</label>
                        <div class="col-sm-7">
                          <?php echo $form->render('keywords')?>
                        </div>
                      </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ondemand URL</label>
                        <div class="col-sm-10">
                            <?php echo $form->render('od_url')?>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Autocharge URL</label>
                        <div class="col-sm-10">
                            <?php echo $form->render('ac_url')?>
                            <div class="help-block">
                                Available Placeholders:
<pre>
    {inbound_id}  : Inbound (MO) id        [integer]
    {msisdn}      : MSISDN (mobile number) [091XXXXXXXX]
    {content}     : Message content        [String]
    {service_id}  : Service id in platform [integer]
    {time}        : Transaction time       [YMD_His]
    {autocharge}  : Autocharge flag        [0/1]
    sample: http://localhost/app/call.php?inbound_id={inbound_id}&msisdn={msisdn}&content={content}&service_id={service_id}&time={time}
</pre>
                            </div>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Shortcodes</label>
                        <div class="col-sm-3">
                            <?php echo $form->render('free_shortcode')?>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                <?php echo $form->render('cost_shortcode')?>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bolt"></i></span>
                                <?php echo $form->render('dedicated')?>
                            </div>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">slogan</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
                                <?php echo $form->render('slogan')?>
                            </div>
                        </div>
                    </div>

                    <hr class="dotted">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-7">
                            <div class="switch-button lg showcase-switch-button">
                                <input type="hidden" name="status" value="0"/>
                                <?php echo $form->render('status')?>
                                <label for="status"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>