<div class="panel panel-default tab-pane tabs-up active" id="activities">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <ul tabindex="5002" style="overflow: hidden;" class="activities-list list-unstyled nicescroll">
                    <li class="default-activity">
                        <span class="time">Platform working status</span>
                        <p>Platform Status
                            <?php echo $platformStatus ? '<span class="label label-success">Active</span>' : '<span class="label label-danger">Deactive</span>'?>
                        </p>
                        <div class="activity-actions">
                        <a  href="<?php echo $this->url->get('panel/setting/togglePlatformStatus')?>"
                            class="btn btn-default btn-sm">
                            Toggle status
                        </a>
                        </div>
                    </li>
                    <li class="info-activity">
                        <span class="time">How many messages pick in each action</span>
                        <p class="text-info">Worker load limit
                            <span class="label label-primary"><?php echo $pickerLimit ? $pickerLimit  : '1000'?> Messges</span>
                        </p>
                        <div class="activity-actions">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-form">
                                Change Value
                            </button>
                        </div>
                    </li>
                    <li class="warning-activity">
                        <span class="time">Delay between two picks</span>
                        <p class="text-purple">Worker delay
                        <span class="label label-warning"><?php echo $pickerDelay ? $pickerDelay. 'Seconds'  : '2 Seconds'?></span>
                        </p>
                        <div class="activity-actions">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal-form">
                                Change Value
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</div>


<!-- Modal With Form -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Change setting form</h4>
          </div>
          <div class="modal-body">

            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Enter new Value</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter new value">
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
