<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from freakpixels.com/portfolio/brio/blank.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 27 Nov 2014 08:50:57 GMT -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <?php echo $this->tag->getTitle(); ?>

    <meta name="description" content="">
    <meta name="author" content="Aboozar Ghaffari me@tartan.pro">

    <?php echo $this->assets->outputCss('css')?>
    <?php echo $this->assets->outputJs('jsHeader')?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader -->
    <div class="loading-container" style="visibility: hidden">
        <div class="loading">
            <div class="l1">
                <div></div>
            </div>
            <div class="l2">
                <div></div>
            </div>
            <div class="l3">
                <div></div>
            </div>
            <div class="l4">
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader -->

    <?php echo $this->getContent() ?>


    <?php echo $this->assets->outputJs('jsFooter')?>

</body>
</html>
