<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Service Subscribers</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-10">
                        <form class="form-inline" role="form" style="margin-bottom: 10px">

                          <div class="form-group">
                              <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                              <input name="msisdn" class="form-control form-control-flat input-sm" placeholder="091XXXXXXXX"
                                     type="text" maxlength="11"
                                     value="<?php echo isset($q['msisdn']) ? $q['msisdn'] : '' ?>">
                            </div>
                          </div>

                          <div class="form-group">
                              <?php
                              echo $this->tag->select(
                                  array(
                                      "fk_services_id",
                                      \App\Model\Services::find(),
                                      "using"      => array("id", "name"),
                                      "useEmpty"   => true,
                                      'emptyValue' => 0,
                                      'class'      => 'form-control form-control-flat input-sm',
                                      'value'      => isset($q['fk_services_id']) ? $q['fk_services_id'] : 0
                                  )
                              );
                              ?>
                          </div>

                          <button type="submit" class="btn btn-success btn-flat btn-sm">Search</button>
                            <a class="btn btn-default btn-flat btn-sm" href="<?php echo $this->url->get('panel/subscriber') ?>"
                               role="button">
                                Show all
                            </a>
                        </form>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="<?php echo $this->url->get('panel/subscriber/create') ?>" class="btn btn-purple btn-sm btn-flat">
                            New Subscription
                        </a>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="1">#</th>
                            <th>MSISDN</th>
                            <th>Service</th>
                            <th class="text-center">State</th>
                            <th class="text-center">Subscribed at</th>
                            <th class="text-center">Last message at</th>
                            <th class="text-center">Autocharge</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if (isset($paginator)) : ?>
                        <?php foreach ($paginator->items as $index => $item) : ?>
                            <tr class="<?php echo $index % 2 == 0 ? 'even' : 'odd' ?>">
                            <td>
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td><?php echo $item->msisdn ?></td>
                            <td><?php echo $item->service->name ?></td>
                            <td class="text-center"><?php echo $item->flag ?
                                    '<span class="label label-success"><i class="fa fa-circle"></i></span>' :
                                    '<span class="label label-danger"><i class="fa fa-circle-o"></i></span>'
                                ?>
                            </td>
                            <td class="text-center"><?php echo $this->tag->gtoj($item->created_at, 'Y/m/d H:i') ?></td>
                            <td class="text-center"><?php echo $this->tag->gtoj($item->last_message, 'Y/m/d H:i') ?></td>

                            <td class="text-center"><?php echo $item->autocharge ?
                                    '<span class="label label-success"><i class="fa fa-circle"></i></span>' :
                                    '<span class="label label-danger"><i class="fa fa-circle-o"></i></span>'
                                ?>
                            </td>

                            <td class="text-center">
                                <a class="btn btn-default" href="<?php echo $this->url->get('panel/subscriber/toggle?id=' . $item->id) ?>">
                                    Toggle Subscription
                                </a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>

                <?php $this->partial('datatable/footer', ['tableId' => 'inboundTable', 'paginator' => $paginator]) ?>

            </div>
        </div>
    </div>

</div>