<?php
if ($paginator->total_pages > 1) :

    $params = $this->request->get();
    $path = $this->di->get('url')->get(substr($params['_url'], 1));
    unset($params['_url'], $params['page']);
    $queryString = [];
    foreach ($params as $k=>$v) {
        $queryString [] = $k.'='.$v;
    }
    $queryString = implode('&', $queryString).'&';
    ?>
    <?php $fClass = $paginator->current == 1 ? 'paginate_button_disabled' : ''?>
    <?php $lClass = $paginator->current == $paginator->total_pages ? 'paginate_button_disabled' : ''?>
    <?php $tableId = isset($tableId) ? $tableId : uniqid()?>
<div class="row">

    <div class="col-sm-6">
        <div class="dataTables_info" id="<?php echo $tableId?>_info">
            Page <?php echo $paginator->current?> / <?php echo $paginator->total_pages?>
        </div>
    </div>

    <div class="col-sm-6">

        <div class="dataTables_paginate paging_full_numbers" id="<?php echo $tableId?>_paginate">
            <ul class="pagination no-margn pull-right">

                <li class="first paginate_button <?php echo $fClass?>" tabindex="0" id="<?php echo $tableId?>_first">
                    <a href="<?php echo $path?>?<?php echo $queryString.'page='. $paginator->first; ?>">&vartriangleleft;</a>
                </li>
                <li class="previous paginate_button <?php echo $fClass?>" tabindex="0" id="<?php echo $tableId?>_previous">
                    <a href="<?php echo $path?>?<?php echo $queryString.'page='.$paginator->before; ?>">&lt;</a>
                </li>


                <?php for ($i=max(1, $paginator->current - 5); $i<=min($paginator->current + 5, $paginator->total_pages);$i++) :?>
                    <?php if ($i == $paginator->current):?>
                <li class="paginate_button active" tabindex="0">
                    <a href="<?php echo $path?>?<?php echo $queryString.'page='. $i?>"><?php echo $i?></a>
                </li>
                    <?php else :?>
                <li class="paginate_button" tabindex="0">
                    <a href="<?php echo $path?>?<?php echo $queryString.'page='. $i?>"><?php echo $i?></a>
                </li>
                    <?php endif;?>
                <?php endfor?>


                <li class="next paginate_button <?php echo $lClass?>" tabindex="0" id="<?php echo $tableId?>_next">
                    <a href="<?php echo $path?>?<?php echo $queryString.'page='.$paginator->next; ?>">&gt;</a>
                </li>

                <li class="last paginate_button <?php echo $lClass?>" tabindex="0" id="<?php echo $tableId?>_last">
                <a href="<?php echo $path?>?<?php echo $queryString.'page='. $paginator->last; ?>">&vartriangleright;</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<?php endif?>