<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Inbound Messages</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-10">
                        <form class="form-inline" role="form" style="margin-bottom: 10px">

                          <div class="form-group">
                               <div class="input-group">
                              <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                              <input name="msisdn" class="form-control form-control-flat input-sm" placeholder="091XXXXXXXX"
                                     type="text" maxlength="11"
                                     value="<?php echo isset($q['msisdn']) ? $q['msisdn'] : '' ?>">
                            </div>
                          </div>
                            <div class="form-group">
                                <input name="outbound_id" class="form-control form-control-flat input-sm" placeholder="Outbound" />
                            </div>
                            <div class="form-group">
                                <input name="shortcode" class="form-control form-control-flat input-sm" placeholder="Shortcode" />
                            </div>
                          <div class="form-group">
                              <?php
                              echo $this->tag->select(
                                  array(
                                      "fk_services_id",
                                      \App\Model\Services::find(),
                                      "using"      => array("id", "name"),
                                      "useEmpty"   => true,
                                      'emptyValue' => 0,
                                      'class'      => 'form-control form-control-flat input-sm',
                                      'value'      => isset($q['fk_services_id']) ? $q['fk_services_id'] : 0
                                  )
                              );
                              ?>
                          </div>
                          <div class="form-group">

                          </div>
                          <button type="submit" class="btn btn-success btn-flat btn-sm">Search</button>
                            <a class="btn btn-default btn-flat btn-sm" href="<?php echo $this->url->get('panel/subscriber') ?>"
                               role="button">
                                Show all
                            </a>
                        </form>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="<?php echo $this->url->get('panel/subscriber/create') ?>" class="btn btn-purple btn-sm btn-flat">
                            New Subscription
                        </a>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="1">#</th>
                            <th>MSISDN</th>
                            <th>Outbound</th>
                            <th>Shortcode</th>
                            <th>Content</th>
                            <th class="text-center">Service</th>
                            <th>Created at</th>
                            <th class="text-center">Processed</th>
                            <th class="text-center">Failed try</th>
                            <th class="text-center">Error</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if (isset($paginator)) :?>
                    <?php foreach ($paginator->items as $index => $item) :?>
                        <tr class="<?php echo $index%2==0 ? 'even' : 'odd' ?>">
                            <td>
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td><?php echo $item->msisdn?></td>
                            <td class="text-center">
                                <a href="<?php echo $this->url->get('outbound/read?id='.$item->fk_outbounds_id)?>">
                                    <?php echo $item->fk_outbounds_id?>
                                </a>
                            </td>
                            <td><?php echo $item->shortcode?></td>
                            <td><?php echo $item->content?></td>
                            <td class="text-center"><?php echo !empty($item->fk_services_id) ?
                                    '<span class="label label-primary">'.$item->getService()->name .'</span>' :
                                    ''
                                ?></td>
                            <td><?php echo $this->tag->gtoj($item->created_at, 'Y/m/d H:i')?> </td>
                            <td class="text-center">
                                <?php echo $item->processed  ?
                                    '<span class="label label-success"><i class="fa fa-check"></i></span>' :
                                    '<span class="label label-danger"><i class="fa fa-close"></i></span>'?>
                            </td>
                            <td class="text-center">
                                <?php echo $item->failed ?
                                    '<span class="label label-warning">Failed'.$item->failed.'</span>' :
                                    ''?>
                            </td>
                            <td class="text-center">
                                <?php echo $item->autocharge ? '<span class="label label-info">AC</span>' : ''?>
                                <?php echo $item->invalid ? '<span class="label label-danger">Error '.$item->invalid.'</span>' : ''?>
                            </td>
                            <td class="text-center">

                               <div class="btn-group">
                                  <button class="btn btn-default btn-sm" type="button">Actions</button>
                                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul role="menu" class="dropdown-menu">
                                    <li><a href="#">View</a></li>
                                    <li><a href="#">Edit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                  </ul>
                                </div>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>

                <?php $this->partial('datatable/footer', ['tableId' => 'inboundTable', 'paginator' => $paginator]) ?>

            </div>
        </div>
    </div>

</div>