<div class="row">
    <div class="col-lg-8">

        <div class="panel panel-default">
          <div class="panel-heading clean">
            Daily Inbound/Outbound Statistics
          </div>
          <div class="panel-body">
            <div id="dailyBound-chart" style="height:280px;"></div>
          </div>
        </div>

    </div>
    <div class="col-lg-4">

        <div class="panel panel-default">
          <div class="panel-heading clean">
            Daily Inbound/Outbound Statistics
          </div>
          <div class="panel-body">
            <div id="doughnut-chart" style="height:280px;"></div>
          </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_INBOUNDS_TO_PROCESS?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_UPDATE_LAST_MESSAGE?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_INBOUNDS_TO_UPDATE_FLAG?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_PROCESSED_INBOUNDS?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_OUTBOUNDS_TO_UPDATE_FLAG?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="<?php echo QUEUE_OUTBOUNDS_TO_OPERATOR?>" class="containers" style="height: 150px; width: 100%;"></div>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">

        <div class="row">
            <div class="col-lg-6">
            </div>
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<script type="text/javascript">
    $ (function () {

        var queueInit = {
            scale         : {
                startValue: 0,
                endValue  : 500,
                majorTick : {
                    tickInterval: 100
                }
            },
            rangeContainer: {
                palette: 'bright',
                ranges : [
                    {startValue: 0, endValue: 250},
                    {startValue: 250, endValue: 400},
                    {startValue: 400, endValue: 500},
                ]
            },
            title         : {
                text: 'Chart',
                font: {size: 10}
            },
            value         : 0
        };

        var chart1 = $ ('#<?php echo QUEUE_INBOUNDS_TO_PROCESS?>').dxCircularGauge (queueInit);
        chart1 = chart1.dxCircularGauge ('instance');
        chart1.option('title.text', "<?php echo QUEUE_INBOUNDS_TO_PROCESS?>");

        var chart2 = $ ('#<?php echo QUEUE_UPDATE_LAST_MESSAGE?>').dxCircularGauge (queueInit);
        chart2 = chart2.dxCircularGauge ('instance');
        chart2.option('title.text', "<?php echo QUEUE_UPDATE_LAST_MESSAGE?>");

        var chart3 = $ ('#<?php echo QUEUE_INBOUNDS_TO_UPDATE_FLAG?>').dxCircularGauge (queueInit);
        chart3 = chart3.dxCircularGauge ('instance');
        chart3.option('title.text', "<?php echo QUEUE_INBOUNDS_TO_UPDATE_FLAG?>");

        var chart4 = $ ('#<?php echo QUEUE_PROCESSED_INBOUNDS?>').dxCircularGauge (queueInit);
        chart4 = chart4.dxCircularGauge ('instance');
        chart4.option('title.text', "<?php echo QUEUE_PROCESSED_INBOUNDS?>");

        var chart5 = $ ('#<?php echo QUEUE_OUTBOUNDS_TO_UPDATE_FLAG?>').dxCircularGauge (queueInit);
        chart5 = chart5.dxCircularGauge ('instance');
        chart5.option('title.text', "<?php echo QUEUE_OUTBOUNDS_TO_UPDATE_FLAG?>");

        var chart6 = $ ('#<?php echo QUEUE_OUTBOUNDS_TO_OPERATOR?>').dxCircularGauge (queueInit);
        chart6 = chart6.dxCircularGauge ('instance');
        chart6.option('title.text', "<?php echo QUEUE_OUTBOUNDS_TO_OPERATOR?>");

        setInterval(function() {
            $.get ("<?php echo $this->url->get('panel/live/queue')?>", function (data) {
                chart1.value (data.<?php echo QUEUE_INBOUNDS_TO_PROCESS?>);
                chart2.value (data.<?php echo QUEUE_UPDATE_LAST_MESSAGE?>);
                chart3.value (data.<?php echo QUEUE_INBOUNDS_TO_UPDATE_FLAG?>);
                chart4.value (data.<?php echo QUEUE_PROCESSED_INBOUNDS?>);
                chart5.value (data.<?php echo QUEUE_OUTBOUNDS_TO_UPDATE_FLAG?>);
                chart6.value (data.<?php echo QUEUE_OUTBOUNDS_TO_OPERATOR?>);
            });
        }, 1000);


        <?php
        $data = [];
        for ($i=0;$i<=10;$i++) {
            $time = date('Y-m-d', strtotime("-$i Days"));
            $data [] = [
                'time' => $time,
                'inbounds'  => isset($dailyInbounds[$time]) ? $dailyInbounds[$time] : 0,
                'outbounds' => isset($dailyOutbounds[$time]) ? $dailyOutbounds[$time] : 0,
            ];
        }
        ?>
        $ ("#dailyBound-chart").dxChart ({

            title               : {visible: false},
            dataSource          : <?php echo json_encode($data)?>,
            commonSeriesSettings: {
                type         : "splineArea",
                argumentField: "time",
                label        : {visible: false}
            },
            argumentAxis        : {
                valueMarginsEnabled: true
            },
            valueAxis           : {
                grid: {
                    color: '#9D9EA5',
                    width: 0.1
                }
            },
            series              : [
                {valueField: "inbounds", name: "Inbounds", color: '#FF404B', opacity: 0.8},
                {valueField: "outbounds", name: "Outbounds", color: '#8D82B5', opacity: 0.8}
            ],
            legend              : {
                visible: true,
                 horizontalAlignment: 'right',
                 verticalAlignment: 'top',
                 position:'inside',
                 backgroundColor: 'transparent',
                 markerSize: 6,
                 font: { color: '#b2b2b2' }
            },
            commonAxisSettings  : {
                label: {font: {color: '#9D9EA5'}}
            }

        });

        <?php
        $data = [];
        foreach ($invalidsInbounds as $i) {
            $data [] = [
                'error' => $i['invalid'] == 0 ? $this->t9n->_('Ok') : $this->t9n->_('Error '. $i['invalid']),
                'val'   => intval($i['cnt'])
            ];
        }
        ?>

        $("#doughnut-chart").dxPieChart({
            dataSource: <?php echo json_encode($data) ?>,
            legend: {
                visible: true
            },
            palette: ["#6bb802", "#7c37c3", "#0861ce", "#fbd005", "#4fcdfc", "#00b19d", "#ff6264"],
            series: [{
                type: "doughnut",
                argumentField: "error",
                label: {
                    visible: true,
                    connector: {
                        visible: true
                    }
                }
            }]
        });
    });
</script>
