
<?php $this->partial("sidebar") ?>
<section class="content">
    <?php $this->partial("header") ?>

    <div class="warper container-fluid">
        <div class="page-header">
            <h1><?php echo isset($pageTitle) ? $pageTitle : '' ?>
                <small><?php echo isset($subTitle) ? $subTitle : '' ?></small>
            </h1>
        </div>
        <p><?php $this->flashSession->output() ?></p>
        <!-- Work Here -->
        <?php echo $this->getContent() ?>
    </div>
    <!-- Warper Ends Here (working area) -->

    <footer class="container-fluid footer">
        Copyright &copy; 2014 <a href="http://atitel.com" target="_blank">Atitel</a>
        <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
    </footer>


</section>
<!-- Content Block Ends Here (right box)-->